body {
    /* background: #161a1d; */
    background-color: black;
    /* background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.5)), url(https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3900&q=80); */
    /* background-size: cover; */
    font-family:"Roboto", sans-serif;
    /* align-items: center; */
    
}

#ranking {
    position:absolute;
    top:55px;
    right:0px;
    width:200px;
    height:100%;
    background-color: #292b2c;
    transition:all 200ms linear;
}

div.item { 
    padding:25px 20px;
    border-bottom:1px solid #444;
    color: #f1ff5c;
    text-transform:uppercase;
    font-size:15px;
}


section {
    padding-top: 5em;
    /* padding-right: 10em; */
    background-color: black;
    margin:none;
    
}

.container {
    background-color: none;
    color: #ffa260;
    padding: 1em 2em;
    width: 20rem;
    height: 20rem;
    /* background-color: #e5383b; */
    text-align: center;
    /* vertical-align: middle; */
    border: solid;
    margin: auto;
    transition: all .2s;
    /* display: flex; */
}

.container:hover {
    background-color: white;
    border-color: #f1ff5c;
    color:#ffa260;
    box-shadow: 0 0.5em 0.5em -0.1em #f1ff5c;
    transform: translateY(-2.5em);
}


#No8 {
    /* background-color: #ec8385; */
    position: relative;
    right: 100px;
    top:50px;
    z-index: 3;
}

#No7 {
    /* background-color: #e66063; */
    position: relative;
    left: 100px;
    z-index: 4;
}

#No2, #No3 {
    width: 25rem;
    height:25rem;
    position: relative;
    bottom: 150px;
}

#No2 {
    /* background-color: #ac1c1e; */
    left: 200px;
    z-index: 9;
}

#No3 {
    /* background-color: #bd1f21; */
    right:200px;
    z-index: 8;
}

#No6, #No1, #No9 {
    position: relative;
    bottom: 400px;
}

#No6 {
    /* position: relative; */
    /* background-color: #e35053; */
    left: 100px;
    /* bottom: 200px; */
    z-index: 5;
}

#No1 {
    /* position: relative; */
    /* background-color: #9c191b; */
    width: 28rem;
    height:28rem;
    bottom:450px;
    z-index: 10;
}

#No9 {
    /* position: relative; */
    /* background-color: #f1a7a9; */
    right: 100px;
    /* bottom: 200px; */
    z-index: 2;
}

#No5, #No4{
    width: 25rem;
    height:25rem;
    position: relative;
    bottom: 800px;
}

#No5{
    /* width: 25rem;
    height:25rem;
    position: relative; */
    /* background-color: #dd2c2f; */
    left: 150px;
    /* bottom: 500px; */
    z-index: 6;
}

#No4{
    /* width: 25rem;
    height:25rem;
    position: relative; */
    /* background-color: #d02224; */
    right: 150px;
    /* bottom: 500px; */
    z-index: 7;
}

#No10 {
    /* background-color: #f6cacc; */
    text-align: end;
    position: relative;
    bottom: 950px;
    z-index: 1;
}

#No1:hover {
    z-index: 100;
}

#No2:hover {
    z-index: 100;
}

#No3:hover {
    z-index: 100;
}

#No4:hover {
    z-index: 100;
}
#No5:hover {
    z-index: 100;
}
#No6:hover {
    z-index: 100;
}
#No7:hover {
    z-index: 100;
}
#No8:hover {
    z-index: 100;
}
#No9:hover {
    z-index: 100;
}
#No10:hover {
    z-index: 100;
}

